name: Flutter Publisher

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

steps:
  - uses: actions/checkout@v1
  - uses: actions/setup-java@v1
    with:
      java-version: '12.x'
  - uses: subosito/flutter-action@v1
    with:
      channel: 'beta' # or: 'dev' or 'beta' or 'stable'
  - name: Dependencies
    run: flutter packages upgrade
  - name: Flutter Analyzer
    run: flutter analyze
  - name: Code Format
    run: dartfmt --set-exit-if-changed -w lib test
  - name: Run tests
    run: flutter test
